@import url(https://fonts.google.com/share?selection.family=Figtree:ital,wght@0,300..900;1,300..900);

:root{
    --primary-color : #ACC18A;
    --primary-color-dark:#728340;
    --primary-color-light:#F2FBE0;
    --secondry-color:#488548;
    --text-dark : #201F1D;
    --text-light:#6b645f;
    --white:#ffffff;
    --max-width:1200px;
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section_header{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.btn{
    padding: -75rem ;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondry-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 1.3rem;
   
}
img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
    color: #488548;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,'Open Sans', sans-serif;
}
header{
    background-image: url(asset/header.jfif); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.nav_container{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
    padding-left: 40px;
}
.nav-logo span{
    color: var(--secondry-color);
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.link a{
    padding: .5rem;
    color: var(--primary-color-light);
}
.link a:hover{
    color: var(--white);
}

.header-container{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.header-container h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    max-width: 800px;
    line-height: 3rem;
    color: var(--white);
    padding-left: 40px;
    margin: 0px 0px 8px;
    justify-content: flex-start;
}

.header-form{
    width: 100%;
    max-width: 350px;
   
}
.header-form form{
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.header-form input{
    padding: 1rem;
    border: none;
    font-size: 1rem;
    outline: none;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 5px;
}
.header-form input::placeholder{
    color: var(--primary-color);
}

.header-form h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}
.service-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.service-header-content p{
    max-width: 600px;
    color: var(--text-light);
}
.service-btn{
    padding: .75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}
.service-btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
}
.service-grid{
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.service-card{
    padding: 2rem ;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.service-card span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 100%;
    transition: 0.3s;
}
.service-card h4{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    padding-left: 30px;
}
.service-card p{
    margin-bottom: 1rem;
    color: var(--text-light);
    padding-left: 30px;
}
.service-card a{
    color: var(--primary-color);
}
.service-card a:hover{
  color: var(--primary-color-dark);
} 
.service-card:hover{
    color: var(--primary-color-light);
    background-color: var(--primary-color);
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1rem;
    align-items: center;
}
.about-content h2{
    margin-bottom: 1rem;
    color: var(--text-dark);
    padding-left: 30px;
}
.about-content p{
    margin-bottom: 1rem;
    color: var(--text-light);
    padding-left: 30px;
}
.about-image img{
    padding-top: 60px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
}
.why-container{
    padding-top: 4rem ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.why-image img{
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    padding-left: 90px;
   
}
.why-content p{
   color: var(--text-light);
}
.why-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 2rem;
}
.why-grid span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.why-grid h4{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.why-grid p{
    color: var(--text-light);
}
.doctor-header{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 40px;
}
.doctor-header-content p{
  max-width: 600px;
  color: var(--text-light);
}
.doctor-nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center
}
.doctor-nav span{
    padding: 5px 15px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    cursor: pointer;
}
.doctor-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.doctor-card{
    text-align: center;
    box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.doctor-card-image {
    position: relative;
    overflow: hidden;
}
.doctor-socials{
    position: absolute;
    left: 0;
    bottom: -4rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 0.5s;
}
.doctor-socials-span{
    display: inline-block;
    padding: 6px 12px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.doctor-socials-span:hover{
    color: var(--primary-color);
}
.doctor-card:hover.doctor-socials{
    bottom: 2rem;
}
.doctor-card h4{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.doctor-card p{
    margin-top: 1rem;
    color: var(--text-light);
}
.footer{
    padding-top: 60px;
    background-color: var(--primary-color-light);
}
.footer-container{
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}
.footer-col h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}
.footer-col h3 span{
    color: var(--secondry-color);
}
.footer-col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.footer-col p{
    margin-bottom: 1rem;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
}
.footer-col p:hover{
    color: var(--primary-color);
}
.footer-col i{
    color: var(--primary-color);
}
.footer-bar{
    width: 333%;
    border-radius: 5px;
    background-color: var(--primary-color);
    padding-left: 20px;
}
.footer-bar-content{
    max-width: var(--max-width);
    margin: auto;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.footer-bar-content p{
    font-size: 0.8rem;
    color: var(--white);
}
.footer-socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}
@media(width < 900px){
    .service-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .about-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-image{
        grid-area: 1/1/2/2;
    }
    .about-content{
        text-align: center;
    }
    .why-container{
        grid-template-columns: repeat(1,1fr);
    }
    .why-content{
        text-align: center;
    }
    .why-grid{
        text-align: left;
    }
    .doctor-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}